.product-card{
    box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    &-img {
        max-width: 100px;
        height: 100px;
        margin: 8px auto;
        display: block;
    }
    &-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1rem
    }
    &-description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }
}